#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	npm install --production --ignore-scripts

override_dh_auto_install:
	install -d debian/node-red-contrib-thermoservice/usr/share/nodejs/node-red-contrib-thermoservice
	cp -a thermoservice.js thermoservice.html package.json \
		debian/node-red-contrib-thermoservice/usr/share/nodejs/node-red-contrib-thermoservice/
	cp -a icons debian/node-red-contrib-thermoservice/usr/share/nodejs/node-red-contrib-thermoservice/
	[ -d node_modules ] && \
		install -d debian/node-red-contrib-thermoservice/usr/share/nodejs/node-red-contrib-thermoservice/node_modules && \
		cp -a node_modules/. debian/node-red-contrib-thermoservice/usr/share/nodejs/node-red-contrib-thermoservice/node_modules/ \
		|| true
	install -d debian/node-red-contrib-thermoservice/usr/share/metainfo
	install -m 644 debian/io.github.vitexus.node_red_contrib_thermoservice.metainfo.xml \
		debian/node-red-contrib-thermoservice/usr/share/metainfo/

override_dh_shlibdeps:

override_dh_strip:
