#!/usr/bin/make -f
export DH_VERBOSE = 1

PKG  = node-red-contrib-thermoservice
DEST = debian/$(PKG)/usr/share/node-red/node_modules/$(PKG)

%:
	dh $@

override_dh_auto_install:
	install -d $(DEST)
	cp -a thermoservice.js thermoservice.html package.json README.md $(DEST)/
	cp -a icons $(DEST)/
	install -d debian/$(PKG)/usr/share/metainfo
	install -m 644 debian/io.github.vitexus.node_red_contrib_thermoservice.metainfo.xml \
		debian/$(PKG)/usr/share/metainfo/

override_dh_shlibdeps:

override_dh_strip:
